/*------------------------------------------------------------------------------------------------------------------------
                                                    VARIABLE
------------------------------------------------------------------------------------------------------------------------*/
$primary-color: #9356dc;
$secondary-color: #ff79da;
$tertiary-color: #99e2d0;
$shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
$gris: #f2f2f2;

/*------------------------------------------------------------------------------------------------------------------------
                                                    SCREEN SIZE
------------------------------------------------------------------------------------------------------------------------*/
$min-width-tab:600px;
$min-width-landscape-tab:801px;
$max-width-landscape-tab:1024px;

